@import "node_modules/bootstrap/scss/bootstrap";

.paginate_button{
    cursor: pointer;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #fff;
    text-decoration: none;

}


#table_paginate{
    margin-top: 1rem;
}

#table_wrapper{
    margin: 2rem;
}

#table_length, #table_filter{
    display:inline-block;
}

#table_filter{
    float: right;
    margin-right:1rem;

    label{
        display:flex;
        gap: 1rem;
    }
}

#tbale_length{
    float: left;
    margin-left:1rem;
}